/* Color scheme */
:root {
    --main-bg-color: #fbf9eb;
    --sec-bg-color: #DBD5C9;
    --my-black: #333;
    --my-black-2: #191919;
    --main-accent-color: #ff1e00;
    --sec-accent-color: #F9DDDD;
  }
  
  /* CSS below is to reset default values such as margin, padding and box-sizing and increase the resolution of the text */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

	/* General styling */

  body {
    background: var(--main-bg-color);
    border-left: solid var(--main-accent-color) 4px;
    width: calc(100% + 4px);
		min-height: 100%;
		font-size: 14px;
    font-family: "Poppins";
  }

	button {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;
		-webkit-appearance: none;
		border: none;
    outline: 0;
    background: 0 0;
    width: auto;
    color: inherit;
    font: inherit;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    padding: 0;
		font-size: 12px;
	}

	.color-toggle-button-red {
		color: var(--main-accent-color);
	}

	/* Star animation */
	.star {
		width: 4vw;
		height: 4vw;
		-webkit-animation-name: star;
		animation-name: star;
		-webkit-animation-duration: 8s;
		animation-duration: 8s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count:infinite
	}

	@-webkit-keyframes star {
		0% {
				transform:rotate(0turn)
		}

		50% {
				transform:rotate(.5turn) scale(1.2)
		}

		to {
				transform:rotate(1turn)
		}
}

@keyframes star {
		0% {
				transform:rotate(0turn)
		}

		50% {
				transform:rotate(.5turn) scale(1.2)
		}

		to {
				transform:rotate(1turn)
		}
}

  p {
		font-family: 'Poppins';
		font-size: 14px;
  }

	a {
		text-decoration: none;
		color: var(--my-black-2);
	}

	h3 {
		font-size: 38px;
		font-family: 'playfair display';
		font-weight: 300;
	}

	h4 {
		font-size: 5.5vw;
    font-family: 'Playfair Display';
    font-weight: 500;
    margin-bottom: 20px;
	}

	h5 {
		font-family: 'poppins';
		font-size: 25px;
		font-weight: 400;
		margin-top: 10vw;
	}

	.section-name {
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		padding-top: 30px;
	}

	/* Styling of header section */
	.desktop-header {
		display: none;
	}

	header {
		padding: 20px 5% 0;
	}

	.color-mode {
		display: flex;
    flex-direction: row;
    justify-content: space-between;
		margin-bottom: 30px;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-bottom: 10px;
		font-family: 'playfair display';
	}

	/* Styling of about me section */
	.about-me {
		position: relative;
		padding-right: 5vw;
	}

	.header-image {
		width: 100%;
	}

	.about-me-text-wrapper {
		padding: 5vw 5vw 0;
	}

	.logo-Å {
		font-size: 18vw;
    font-weight: 500;
		color: var(--main-accent-color);
		line-height: 1.2;
	}

	/* Styling of service section */
	.my-main-services {
		padding: 50vw 0;
	}

	.service-row {
		display: flex;
		flex-direction: row;
		line-height: 1.2;
    padding: 1vw 6vw;
    width: 100vw;
		margin-top: 2vw;
		justify-content: space-between;
	}

	.service-row h3 {
		font-size: 5.5vw;
	}

	/* Styling of projects section */
	.image-group {
		display: flex;
		justify-content: center;
	}

	.first-project .image-group, .first-project .project-info {
		color: var(--main-bg-color);
		background-color: var(--main-accent-color);
	}

	.second-project.image-group, .second-project .project-info {
		color: var(--my-black-2);
		background-color: var(--sec-bg-color);
	}

	.project-info {
		text-align: center;
		padding: 0 5vw;
	}

	.image-wrapper {
		width: 408px;
		height: 528px;
		overflow: hidden;
	}

	.project-image {
    height: 100%;
	}

	.project-name {
		font-size: 6.5vw;
	}

	.project-description {
		margin: 10vw 0;
	}

	.full-case {
		font-size: 5.5vw;
		padding: 10vw 0;
	}

	.first-project a {
		color: var(--main-bg-color);
	}

	.all-cases {
		text-align: center;
		padding: 80px 6vw;
	}

	.all-cases h3 {
		font-size: 8vw;
    font-weight: 300;
		padding-bottom: 25px;
	}

	.all-cases h5 {
		font-size: 15px;
    font-weight: 500;
		margin-top:0;
	}

	.case-row {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-family: 'poppins';
		font-size: 12px;
		padding:10px;
		height: 70px;
		border-bottom: 2px solid var(--my-black-2);
	}

	.case-row:hover {
		background-color: var(--sec-accent-color);
		color: var(--my-black-2);
		transition: all 1.5s ease;
	}

/* Styling of toolbox section */
	.toolbox {
		display:flex;
		flex-direction: column;
		background-color: var(--sec-accent-color);
		color: var(--main-accent-color);
		padding: 5vw;
	}

	.section-name-toolbox{
		color: var(--main-accent-color);
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.toolbox-section {
		margin-bottom: 40px;
	}

	.toolbox-section h3 {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 30px;
	}

	/* Styling of design thoughts section */
.design-quote {
	font-size: 4vw;
	font-weight: normal;
	text-align: center;
	margin: 3rem 3rem 6rem;
	padding: 20px 0;
}

.design-thoughts {
	background-color: var(--sec-bg-color);
	padding-top: 50px;
	padding-bottom: 100px;
}

.more-thoughts-wrapper h5 {
	font-size: 15px;
  font-weight: 500;
	margin-top: 0;
}

.more-thoughts-wrapper p {
	font-size: 12px;
}

.more-thoughts-wrapper a {
	font-size: 12px;
}

.design-thoughts a {
	color: var(--main-accent-color);
}

.design-thoughts .section-name {
	color: var(--main-accent-color);
}

.contact {
	padding: 5vw 5vw 0;
}

.no-more-words { 
	font-size: 35px;
	font-weight: 500;
	text-align: center;
	margin-top: -28px;
}

.contact-me {
	color: var(--main-accent-color);
	font-size: 30px;
}

footer {
	padding: 3rem 0;
}

/* Media Query - Tablet */
@media screen and (min-width: 768px) {

	.desktop-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5vh 3vh;
	}

	header a {
		padding: 0 40px;
	}

	header p {
		padding: 0 40px;
	}

	.mobile-header {
		display: none;
	}

	.header-image {
		width: 50%;
		padding: 0;
	}

	.section-name {
		padding-bottom: 50px;
	}
	.about-me {
		display: flex;
		flex-direction: row;
	}

	.logo-Å {
		font-size: 130px;
	}

	.my-main-services {
    padding: 25vw 0px;
}

	.project-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.image-group, .project-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.first-project .image-group {
		color: var(--my-black-2);
		background-color: var(--sec-bg-color);
	}

	.second-project.image-group {
		background-color: var(--main-bg-color);
	}

	.project-name {
    font-size: 2.5rem;
	}

	.project-info h4 {
		font-size: 1.5rem;
		padding: 0 7rem;
	}

	.project-description {
		margin: 30px 0;
	}

	.full-case {
		font-size: 30px;
		padding: 30px 0;
	}

	.all-cases {
		padding: 15rem 0;
	}

	.all-cases h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		padding-bottom: 5vw;
		font-weight: 500;
		font-family: 'poppins';
	}

	.case-row {
			height: 140px;
		}

	.case-row h5 {
			font-size: 2.5rem;
	}

	.design-quote {
		font-size: 30px;
    line-height: 1.5;
	}

	.quote-one {
		padding: 2rem 13rem 4rem;
	}
	
	.quote-two {
		padding: 6rem 13rem 6rem;
	}

	.more-thoughts-wrapper {
		padding-bottom: 50px;
	}	

	.toolbox {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.toolbox-section {
		margin-bottom: 0;
	}

	.no-more-words {
    font-size: 70px;
    margin-top: -57px;
		text-align: center;
}




	

	
